.grid-container {
    display: grid;
    gap: 5px;
    grid-column-gap: 20px;
    grid-template-areas:
    "a1 a1 b1 b1 c1 c1 d1 d1"
    "a2 a3 b2 b3 c2 c3 d2 d3"
    "e1 e1 f1 f1 g1 g1 h1 h1"
    "e2 e3 f2 f3 g2 g3 h2 h3"
    
}

.grid-container img {
    display: block;
    width: 100%;
    height: auto;
  }

.grid-container > div {
    border: 1px dashed black;
}

/* PRODUCT 1 */
.product-a1 {
    grid-area: a1;
}

.title-a2 {
    grid-area: a2;
}

.price-a3 {
    grid-area: a3;
}

/* PRODUCT 2 */
.product-b1 {
    grid-area: b1;
}

.title-b2 {
    grid-area: b2;
}

.price-b3 {
    grid-area: b3;
}

/* PRODUCT 3 */
.product-c1 {
    grid-area: c1;
}

.title-c2 {
    grid-area: c2;
}

.price-c3 {
    grid-area: c3;
}

/* PRODUCT 4 */
.product-d1 {
    grid-area: d1;
}

.title-d2 {
    grid-area: d2;
}

.price-d3 {
    grid-area: d3;
}

/* PRODUCT 5 - SECOND ROW */
.product-e1 {
    grid-area: e1;
}

.title-e2 {
    grid-area: e2;
}

.price-e3 {
    grid-area: e3;
}

/* PRODUCT 6 - SECOND ROW */
.product-f1 {
    grid-area: f1;
}

.title-f2 {
    grid-area: f2;
}

.price-f3 {
    grid-area: f3;
}

/* PRODUCT 7 - SECOND ROW */
.product-g1 {
    grid-area: g1;
}

.title-g2 {
    grid-area: g2;
}

.price-g3 {
    grid-area: g3;
}

/* PRODUCT 8 - SECOND ROW */
.product-h1 {
    grid-area: h1;
}

.title-h2 {
    grid-area: h2;
}

.price-h3 {
    grid-area: h3;
}

/* STYLING */
.price-a3, 
.price-b3, 
.price-c3, 
.price-d3, 
.price-e3, 
.price-f3, 
.price-g3, 
.price-h3 {
    text-align: right;
}

.grid-container div:not(.product-a1, .product-b1, .product-c1, .product-d1, .product-e1, .product-f1, .product-g1, .product-h1) {
    color: blue;
    font-size: 1.15em;
}

/* @media screen and (max-width: 575px) {
    .grid-container {
        display: grid;
        width: 210px;
        margin-left: auto;
        margin-right: auto;
        gap: 5px;
        grid-column-gap: 5px;
        grid-template-areas:
        "a a"
        "b c"
        "d d"
        "e f"
        "g g"
        "h i"
        "j j"
        "k l"
        "m m"
        "n o"
        "p p"
        "q r"
        "s s"
        "t u"
        "v v"
        "xa xb"
    }
} */
