@media screen and (max-width: 575px) {
  body {
    background-color: lightpink;
  }

  .site-container {
    margin: 0 30px;
  }

  /*TOP-HEADER*/
  .flex-header {
    background-color: lightgrey;
    display: flex;
    /*display: flex*/
    /* flex-wrap: wrap; */
    /* row-gap: 10px; */
    margin-bottom: 8px;
    width: auto;
    flex-direction: column;
    flex-wrap: none;
  }

  .flex-header img {
    display: block;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .flex-header form {
    padding: 10px 0px;
    align-self: auto;
  }

  .flex-header input[type=search] {
    width: 100%;
  }

  .flex-header li {
    font-size: 14px;
    display: block;
  }

  .flex-header ul {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }

  /* HERO CONTAINER */
  .flex-main-hero {
    background-color: rgb(177, 177, 177);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: auto;
    height: auto;
    gap: 0;
    margin: 0;
    align-items: flex-start;
  }

  .flex-main-hero > div {
    padding: 0;
    order: 2;
  }

  .flex-main-hero img {
    align-self: center;
    order: 1;
    margin: 0;
    width: 90%;
    height: auto;
  }

  .flex-main-hero h1 {
    margin: 16px 16px 8px 16px;
    width: auto;
  }
  .flex-main-hero p {

    margin: 0px 16px 8px 16px;
    width: auto;
  }
  .flex-main-hero button {
    /* align-self: center; */
    margin-bottom: 16px;
  }

  /* FLEXBOX SPOTS */
  .flex-main-section {
    display: none;
  }

  /*GRID - POPULAR PRODUCTS*/
  .grid-container {
    display: grid;
    /* width: 350px; */
    width: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas:
    "a1 a1"
    "a2 a3"
    "b1 b1"
    "b2 b3"
    "c1 c1"
    "c2 c3"
    "d1 d1"
    "d2 d3"
    "e1 e1"
    "e2 e3"
    "f1 f1"
    "f2 f3"
    "g1 g1"
    "g2 g3"
    "h1 h1"
    "h2 h3"
}

  /*FOOTER*/
  .footer-site-info ul {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .footer-site-info > ul > li {
    display: block;
    margin: 30px 0px;
    color: red;
    font-weight: bold;
  }


  /* FOOTER LISTOR */
  .list-container {
    display: block;
  }

  .list-container li {
    list-style-type: none;
    margin: 0px 0px 16px 0px;
  }

  .list-container div > ul {
    padding: 0;
  }

  .list-container a:first-child {
    font-weight: bold;
  }

  .list-container a:not(:first-child) {
    font-size: 13px;
  }

  footer p {
    font-size: 12px;
    text-align: center;
    margin: 16px 0px 16px 0px;
  }
}
